 <div class="opinsearchtab">

        {{#if isAuthenticated}}
        <div class="logoutbutton">
            <a href='/index/logout' ><button class="logoutbtn">Log Out</button></a>
        </div>
        {{else}}
        <div class="buttons">
            <ul>
                <li><a href="/login"><button class="loginbutton" id="loginbutton">Log In</button></a></li>
                <li><a href="/register"><button class="joinbutton" id="joinbutton">Join</button></a></li>
            </ul>
        </div>
        {{/if}}

        <form id="searchbox_container">
            <input class="searchbox" type="text" placeholder="What are you looking for?">
        </form>
    </div>