<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MyView: Welcome Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.all.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.all.css">
</head>

<body>
    <div class="opinsearchtab">
        <div class="buttons">
            <ul>
                <li><a href="/login"><button class="loginbutton" id="loginbutton">Log In</button></a></li>
                <li><a href="/register"><button class="joinbutton" id="joinbutton">Join</button></a></li>
            </ul>

        </div>

        <form id="searchbox_container">
            <input class="searchbox" type="text" placeholder="What are you looking for?">
        </form>
    </div>

    <div id="topics">
        <div class="contain">
            <div class="ontop">
                <a href="#">
                    <img src="/Pictures/movies.jpg">
                </a>
            </div>
            <div class="movies"><a href="#">movies</a> </div>
        </div>

        <div class="contain">
            <div class="ontop">
                <a href="#">
                    <img src="/Pictures/series.jpg">
                </a>
            </div>
            <div class="series"><a href="#">series</a> </div>
        </div>

        <div class="contain">
            <div class="ontop">
                <a href="#">
                    <img src="/Pictures/comics.jpg">
                </a>
            </div>
            <div class="comics"><a href="#">comics</a> </div>
        </div>

        <div class="contain">
            <div class="ontop">
                <a href="#">
                    <img src="/Pictures/anime.jpg">
                </a>
            </div>
            <div class="anime"><a href="#">anime</a> </div>
        </div>

        <div class="contain">
            <div class="ontop">
                <a href="#">
                    <img src="/Pictures/manga.jpg">
                </a>
            </div>
            <div class="manga"><a href="#">manga</a> </div>
        </div>
    </div>

    <div class="description">
        <p>Sign up and start chatting with fans of your favorite communities.</p>
    </div>

    <div id="content-class">
        <h1>Movies</h1>
        <hr>
        <div class="movie-groups">

            <div class="movie-containers">
                <img src="/Pictures/manga.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for all superhero
                        <br>
                        movie discussions.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Superhero Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> If you love animation, this
                        <br>
                        is the place to show your
                        <br>
                        love.
                    </span>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Animated Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> All things sci-fi and
                        <br>
                        fantasy.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Sci-fi and Fantasy </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for horror
                        <br>
                        fanatics.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Horror Fanatics </h2>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn"><i class="fas fa-angle-left"></i></button>
        <button class="btn"><i class="fas fa-angle-right"></i></i></button>

    </div>

    <div id="content-class">
        <h1>Series</h1>
        <hr>
        <div class="movie-groups">

            <div class="movie-containers">
                <img src="/Pictures/manga.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for all superhero
                        <br>
                        movie discussions.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Superhero Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> If you love animation, this
                        <br>
                        is the place to show your
                        <br>
                        love.
                    </span>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Animated Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> All things sci-fi and
                        <br>
                        fantasy.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Sci-fi and Fantasy </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for horror
                        <br>
                        fanatics.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Horror Fanatics </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="content-class">
        <h1>Comics</h1>
        <hr>
        <div class="movie-groups">

            <div class="movie-containers">
                <img src="/Pictures/manga.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for all superhero
                        <br>
                        movie discussions.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Superhero Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> If you love animation, this
                        <br>
                        is the place to show your
                        <br>
                        love.
                    </span>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Animated Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> All things sci-fi and
                        <br>
                        fantasy.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Sci-fi and Fantasy </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for horror
                        <br>
                        fanatics.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Horror Fanatics </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="content-class">
        <h1>Anime</h1>
        <hr>
        <div class="movie-groups">

            <div class="movie-containers">
                <img src="/Pictures/manga.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for all superhero
                        <br>
                        movie discussions.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Superhero Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> If you love animation, this
                        <br>
                        is the place to show your
                        <br>
                        love.
                    </span>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Animated Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> All things sci-fi and
                        <br>
                        fantasy.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Sci-fi and Fantasy </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for horror
                        <br>
                        fanatics.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Horror Fanatics </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="content-class">
        <h1>Manga</h1>
        <hr>
        <div class="movie-groups">

            <div class="movie-containers">
                <img src="/Pictures/manga.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for all superhero
                        <br>
                        movie discussions.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Superhero Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> If you love animation, this
                        <br>
                        is the place to show your
                        <br>
                        love.
                    </span>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Animated Movies </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> All things sci-fi and
                        <br>
                        fantasy.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Sci-fi and Fantasy </h2>
                    </div>
                </div>
            </div>

            <div class="movie-containers">
                <img src="/Pictures/anime.jpg">
                <div class="img-overlay">
                </div>
                <div class="caption-img-overlay">
                    <span> A community for horror
                        <br>
                        fanatics.
                    </span>
                    <br>
                    <div class="name">
                        <i class="fas fa-user-astronaut"></i>
                        <h2> Horror Fanatics </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>


    </div>





    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/reload/reload.js"></script>
</body>