<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView: Join Today</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/public/css/all.css" >
<link rel="stylesheet" type="text/css" href="/public/css/fontawesome.css">
<link rel="stylesheet" type="text/css" href="/public/css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>

    <div class="FormOverlay2"></div>
    <div class="signup_promo">
        <div class="closeJoinform">
            <a href="/"> <i class="fas fas fa-times"></i></a>
        </div>
        <h1> Sign Up Today</h1>
        <p> Create your user account to
            <br>
            start posting about your
            <br>
            favorite movies, anime, series,
            <br>
            or comic books.
            <br>
            <br>
            Post reviews, discuss and have
            <br>
            and have fun.
        </p>
        <div id="create_textLinks">
            <div class="create_Login"><a href="/login">I have an account. Log In?</a></div>
        </div>
    </div>
    <form action="/users/register" method="POST" class="Joinbox" id="Joinbox" name="Joinbox">
        <div class="create_fieldInputs">
            <div class="create_inputs">
                <span id="available"></span>
                <p>Username</p>
                <input class="Username" type="text" placeholder="Create Username" id="Username" name="username" >
                <div class="Errors">
                    <i class="fa as fa-exclamation-circle"></i>
                    <small>error message</small>
                </div>
                <div class="redErrors">
                    <i class="fa fas fa-exclamation-triangle"></i>
                </div>
                <div class="checkmark">
                    <i class="fa fas fa-check"></i>
                </div>
            </div>
            <div class="create_inputs">
                <p>Email</p>
                <input class="Email" type="text" placeholder="Enter email" id="Email" name="email" >
                <div class="Errors">
                    <i class="fa fas fa-exclamation-circle"></i>
                    <small>error message</small>
                </div>
                <div class="redErrors">
                    <i class="fa fas fa-exclamation-triangle"></i>
                </div>
                <div class="checkmark">
                    <i class="fa fas fa-check"></i>
                </div>
            </div>
            <div class="create_inputs">
                <p>Password</p>
                <input class="Password" type="password" placeholder="Create your password" name="password">
                <div class="Errors">
                    <i class="fa fas fa-exclamation-circle"></i>
                    <small>error message</small>
                </div>
                <div class="redErrors">
                    <i class="fa fas fa-exclamation-triangle"></i>
                </div> 
                <div class="checkmark">
                    <i class="fa fas fa-check"></i>
                </div>
                <span class="PWToggle" onclick="togglePW()">
                    <div class="hideJoinPW">
                        <i class="fa fas fa-eye-slash"></i>
                    </div>
                    <div class="showJoinPW">
                        <i class="fa far fa-eye"></i>
                    </div>
                </span>           
            </div>
            <div class="create_inputs">
                <p>Confirm Password</p>
                <input class="ConfirmPassword" type="password" placeholder="Confirm password" name="confirmpassword">
                <div class="Errors">
                    <i class="fa fas fa-exclamation-circle"></i>
                    <small>error message</small>
                </div>
                <div class="redErrors">
                    <i class="fa fas fa-exclamation-triangle"></i>
                </div> 
                <div class="checkmark">
                    <i class="fa fas fa-check"></i>
                </div>
                <span class="confirmToggle" onclick="toggleConfirmEye()">
                    <div class="hideconfirmPW">
                        <i class="fa fas fa-eye-slash"></i>
                    </div>
                    <div class="showconfirmPW">
                        <i class="fa far fa-eye"></i>
                    </div>
                </span>           
            </div>
            <button class="create_submit" type="submit">Join</button>
            <div class="warning">
                <% var message; %>
                <%if (message){%>
                    <di class="alert alert-danger" role="alert"> 
                                <h1><%=(message) %></h1></div>
                   <%}%>
            </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/public/register.js"></script>
    <script src="/reload/reload.js"></script>
    
</body>
</html>