<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView:Superheroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/superhero-movies.css">

</head>

<body>
    <div id="allcomments-container">
        <div class="user-comments">
            <h5 class="username">Username</h5>
            <h6 class="date"></h6>
            <br>

        </div>

    </div>

    <div class="comment-wrapper">
        <input type="text" class="comment-input" placeholder="Join the discussion">
        {{!-- <div class="sent-btn">
            <button class="comment-btn">Enter</button>
        </div> --}}
    </div>




</body>
<script src="/reload/reload.js"></script>

</html>