<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView:Superheroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/superhero-movies.css">
</head>

<script src="/socket.io/socket.io.js"></script>

<body onload="loadcomments()">

    <div id="comments" class="card mb-2">
        <div class="card-body">
            <h5 class="username" name="username">Username: User</h5>
            <h6 class="date" name="date">Date: 6/28/2020</h6>
            <br>
            <id class="messages">cdscds</id>
        </div>
    </div>

    <form class="messageBox" action="/superhero-movies" name="comments" id="commentForm" ">
        <div class="comment-wrapper">
            <textarea class="commentInput" id="message" name="comments" type="text"
                placeholder="Join the discussion"></textarea>
            <button class="btn btn-primary" type="submit" id="submitbtn">Button</button>

        </div>
    </form>

    {{!-- <div id="allcomments-container">
        <div id="user-comments" class="card mb-2">
            <ul>
                <li class="username" name="username">Username</li>
                <li class="date" name="date">6/28/2020</li>
            </ul>
            <id class="messages">cdscds</id>
        </div>
    </div> --}}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="/javascript/superhero-movies.js"></script>
    <script src="/reload/reload.js"></script>

</body>

</html>