<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView:Superheroes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/superhero-movies.css">
</head>


<body>

    <div class="container">
        <h1> Welcome To Chatroom</h1>

        <div class="card mb-2" style="width: 38rem;" id="output">
            {{!-- <div class="title" id="username">Username</div>
            <div class="title" id="date">date</div>
            <h6 class="message" id="message">comments</h6> --}}
        </div>

        <form class="inputs" id="form" action="/superhero-movies" name="form" onsubmit="return false;">
            <textarea class="comments" id="comments" placeholder="what's on your mind?" name="comments"></textarea>
            <button value="POST" type="button" class="btn btn-primary" id="submitbtn" comments onclick="sendMessage()">send</button> 
        </form>

    </div>

    <script type="text/javascript" src="/javascript/superhero-movies.js"></script>
    <script src="/reload/reload.js"></script>

</body>

</html>