<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView:Superheroes</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/superhero-movies.css">

</head>


<body>

    <div class="container">
        <h1> Welcome To Chatroom</h1>

        <div class="card mb-2" style="width: 38rem;" id="output">
            {{!-- <h5 class="title" id="username">Username</h5>
            <h5 class="title" id="date">date</h5>
            <p class="message" id="message">Some quick example text to build on the card title and make up the bulk of
                the
                card's content.</p> --}}

        </div>

        <div class="inputs">
            <textarea class="comments" name="comments" id="comments" placeholder="what's on your mind?"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="submitbtn">comment</button>

    </div>


    <script src="/reload/reload.js"></script>

</body>
    <script src="/javascript/superhero-movies.js"></script>

</html>