<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyView:Superheroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/superhero-movies.css">

</head>

<body>

    <div class="comment-wrapper">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
            aria-describedby="button-addon1">
    </div>


</body>
<script src="/reload/reload.js"></script>

</html>