* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(167, 161, 167);
    min-width: 1000px;
    height: 100%;
    position: relative;
}

.buttons ul {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 5px 0px 0px 75%;
    position: absolute;
}

.buttons li {
    list-style: none;
}

.logoutbutton {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 0px 0px 0px 85%;
    position: absolute;
}

.logoutbtn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    background-color: rgb(15, 170, 9);
    color: #fff;
    padding: 0px 0px 3px;
    background-color: rgb(15, 170, 9);
    text-decoration: none;
    margin: 5px 0px 0px 85%;
    position: absolute;
}

.loginbutton {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    background-color: rgb(15, 170, 9);
    color: #fff;
    padding: 0px 0px 3px;
    background-color: rgb(15, 170, 9);
    text-decoration: none;
}

.loginbutton:hover {
    background-color: rgb(56, 85, 138);
}

.login:hover {
    background-color: purple;
}

.joinbutton {
    margin-left: 25px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    background-color: rgb(15, 170, 9);
    color: #fff;
    padding: 0px 0px 3px;
}

.joinbutton:hover {
    background-color: rgb(56, 85, 138);
}

.Join:hover {
    background-color: purple;
    box-shadow: 0px 0.5px 10px;
}

.opinsearchtab {
    text-align: center;
    background-color: rgb(14, 13, 13);
    padding: 8px;
    box-shadow: 0px 0.5px 10px;
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    z-index: 1050;
    width: 100%;
    position: fixed;
    top: 0;
}

#searchbox_container {
    background-color: white;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border: 1px solid rgb(204, 169, 14);
    display: flex;
    margin: 0 auto;
}

.opinsearchtab i {
    color: rgb(95, 1, 114);
    padding: 5px 0px 0px 15px;
}

.searchbox {
    border: none;
    justify-content: start;
    text-align: start;
    padding: 0px 0px 0px 30px;
    width: 100%;
}

#topics {
    width: 100%;
    margin: 80px 0px 0px 450px;
    display: flex;
    position: absolute;
}

#topics img {
    -webkit-box-flex: auto;
    -ms-flex: auto3;
    flex: content;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
}

.contain {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    margin: 8px;
    position: relative;
    background-image: linear-gradient(rgb(95, 1, 114), rgb(0, 0, 0));
    justify-content: center;
}

.ontop {
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 150px;
    height: 150px;
    opacity: 40%;
}

.movies a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.series a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.comics a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.anime a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.manga a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

#content-class {
    width: 100%;
    flex: content;
    justify-content: center;
}

#content-class h1 {
    width: 100%;
    margin: 180px 0px 0px 80px;
    position: relative;
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    color: rgb(136, 22, 136);
}

#content-class hr {
    margin: 0px 65px 0px 65px;
}

.movie-groups img {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 280px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0px 0px 100px 0px;
}

.movie-containers {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 30px 20px -100px 20px;
    box-shadow: 0px 1px 4px 2.5px;
    border-radius: 10px;
}

.movie-groups {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 0px 0px 0px 30px;
    display: flex;
    position: relative;
    width: 100%;
}

.movie-groups a {
    color: rgb(59, 18, 112);
}

.caption-img-overlay {
    width: 280px;
    height: 170px;
    background-image: linear-gradient(rgb(95, 1, 114), rgb(0, 0, 0));
    position: absolute;
    transform: translate(0px, 150px);
    margin-bottom: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.caption-img-overlay .name {
    display: flex;
    justify-content: center;
    margin: 35px 0px 0px 0px;
    position: relative;
}

.caption-img-overlay i {
    color: rgb(3, 158, 16);
    font-weight: 450;
    margin: 0px 10px 0px 0px;
}

.caption-img-overlay h2 {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    font-size: 16px;
    color: #fff;
    font-weight: 450;
}

.caption-img-overlay span {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 0px;
}

.img-overlay {
    width: 280px;
    height: 200px;
    position: absolute;
    background: linear-gradient(rgb(95, 1, 114), rgb(0, 0, 0));
    margin-bottom: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 40%;
    transform: translate(0px, 0px);
}

.btn-scroll-left {
    background: rgba(234, 225, 236, 0.521);
    margin: -100px 0px 0px 30px;
    border: solid;
    border-width: 0.3px;
    border-color: rgb(92, 67, 121);
    border-radius: 5px;
    position: absolute;
    width: 40px;
    height: 60px;
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
}

.btn-scroll-left i {
    color: rgb(74, 14, 114);
    font-size: 32px;
    display: flex;
    position: relative;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 15px 0px 0px 10px;
}

.movieTypes {
    position: relative;
    /* box-shadow: 0px 2.5px 10px; */
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 250px;
    height: 250px;
}

.imgContainer {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.SelectedOverlay {
    background: purple;
    width: 250px;
    height: 250px;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0px;
    left: 0px;
}

.movieTypes img {
    width: 250px;
    height: 250px;
    position: absolute;
    opacity: 95%;
}

.rooms {
    width: 250px;
    height: 600px;
    background-color: rgb(135, 133, 136);
    box-shadow: 0px 2.5px 10px;
    overflow: scroll;
}

.rooms::-webkit-scrollbar-track {
    background-color: #636060;
}

.rooms::-webkit-scrollbar-track-piece {
    background-color: #636060;
    margin: 70px 0px 0px 0px;
}

.rooms::-webkit-scrollbar {
    width: 7px;
    background-color: #333333;
    border-radius: 10px;
}

.rooms::-webkit-scrollbar-thumb {
    background-color: #16223d;
    border-radius: 10px;
}

.movieTypes span {
    justify-content: center;
    position: absolute;
    color: #fff;
}

.ImgCircle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: slateblue;
}

.ImgCircle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.message-container {
    width: 100px;
    height: 20px;
    background-color: white;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    display: flex;
    margin: 1000px 0px 0px 800px;
}