* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    background-color: rgb(230, 230, 230);
    width: 100%;
    position: relative;
    font-family: 'Rowdies', cursive;
    max-width: 800px;
}

.movieTypes {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 400px;
    height: 250px;
    margin: 50px 0px 0px 0px;
}

.imgContainer {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.SelectedOverlay {
    background: rgb(31, 61, 87);
    width: 400px;
    height: 250px;
    position: absolute;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 0px;
    left: 0px;
}

.movieTypes img {
    width: 400px;
    height: 250px;
    position: absolute;
    opacity: 85%;
}

.rooms {
    width: 400px;
    height: 500px;
    background-color: rgb(247, 247, 247);
    /* box-shadow: 0px 0.5px 10px 3px; */
    overflow: scroll;
    top: 0;
    left: 0;
    margin-top: 15px;
    overflow-x: hidden;
}

.rooms::-webkit-scrollbar-track {
    background-color: #636060;
}

.rooms::-webkit-scrollbar-track-piece {
    background-color: #636060;
}

.rooms::-webkit-scrollbar {
    width: 7px;
    background-color: #333333;
    border-radius: 10px;
}

.rooms::-webkit-scrollbar-thumb {
    background-color: #227CF2;
    border-radius: 10px;
}

.rooms span {
    color: rgb(74, 76, 78);
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin: 30px 0px 0px 0px;
}

.movieTypes span {
    justify-content: center;
    position: absolute;
    color: #fff;
}

.ImgCircle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border-radius: 50%;
    box-shadow: 3px 0.5px 7px 2px rgb(12, 12, 12);
    margin: 10px 12px 0px 12px;
}

.ImgCircle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.columns {
    width: 100%;
    display: flex;
    margin: 20px 0px 0px 0px;
    justify-content: center;
    display: flex;
}

.exit {
    width: 400px;
    height: 160px;
    background-color: rgb(185, 196, 204);
    box-shadow: 0px 2.5px 10px;
    position: fixed;
    border-right-style: solid;
}

.header {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-width: 0.5px;
    border-style: none;
    margin: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: block;
    text-align: center;
    position: fixed;
}

.header i {
    margin: 15px 10px 0px 30px;
    font-size: 14px;
}

.header span {
    text-transform: capitalize;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    font-family: 'Rowdies', cursive;
}

.inputBox {
    width: 740px;
    height: 150px;
    margin: 0px 0px 0px 430px;
    background-color: white;
    border: rgb(182, 176, 176);
    border-width: 0.5px;
    border-style: none;
    padding-top: 25px;
    bottom: 0;
    position: relative;
}

.inputBox .inputMessage {
    left: -50%;
    right: -50%;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 650px;
    /* border-radius: 5px; */
    padding: 10px 0px 0px 10px;
    resize: none;
    bottom: 0;
    position: absolute;
    max-height: 150px;
}

.inputBox hr {
    width: 500px;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #193B59;
    margin: 0 auto;
    margin-top: 35px;
    font-family: 'Rowdies', cursive;
    text-transform: capitalize;
}

.inputBox-Buttons {
    width: 100%;
    position: absolute;
    top: 80px;
}

.inputBox-Buttons span {
    font-family: 'Rowdies', cursive;
    text-transform: capitalize;
    font-size: 16px;
}

.PostButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    background: none;
    border-style: none;
    border-width: 1px;
    /* margin: 15px 0px 0px 63px; */
}

.AddButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    background: none;
    border-style: none;
    border-width: 1px;
    /* margin: 15px 0px 0px 63px; */
}

.DiscardButton {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    background: none;
    border-style: none;
    border-width: 1px;
    display: flex;
    /* margin: 15px 0px 0px 63px; */
}

.inputBox button {
    margin: 15px 30px 0px 30px;
}

.inputBox-Buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.commentsWindow {
    width: 740px;
    height: 620px;
    margin: -766px 0px 0px 430px;
    background-color: #dbdee0;
    border: rgb(182, 176, 176);
    border-style: none;
    overflow-y: scroll;
}

.commentsWindow::-webkit-scrollbar-track {
    background-color: #636060;
}

.commentsWindow::-webkit-scrollbar-track-piece {
    background-color: #636060;
}

.commentsWindow::-webkit-scrollbar {
    width: 7px;
    background-color: #333333;
    border-radius: 10px;
}

.commentsWindow::-webkit-scrollbar-thumb {
    background-color: #227CF2;
    border-radius: 10px;
}

.commentsWindow span {
    color: rgb(74, 76, 78);
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin: 30px 0px 0px 0px;
}

.DomainTab {
    width: 350px;
    height: 100%;
    /* background-color: rgb(247, 247, 247); */
    /* box-shadow: 0px 0.5px 10px 3px; */
    border: none;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    margin: -750px 0px 0px 1140px;
    float: end;
    overflow-x: hidden;
}

.DomainTab::-webkit-scrollbar-track {
    height: 900px;
    background-color: #636060;
}

.DomainTab::-webkit-scrollbar-track-piece {
    height: 900px;
    background-color: white;
}

.DomainTab::-webkit-scrollbar {
    width: 7px;
    background-color: #333333;
    border-radius: 10px;
}

.DomainTab::-webkit-scrollbar-thumb {
    background-color: #227CF2;
    border-radius: 10px;
}

.DomainTab span {
    font-family: 'Rowdies', cursive;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 15px 0px 0px 0px;
    text-transform: uppercase;
    color: rgb(74, 76, 78);
}

.Domains {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 20%;
}

.Domains img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover;
}

.Domains span {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 75px 0px 0px 20px;
}

.messageContainer {
    width: 800px;
    height: 50px;
    position: relative;
    transform: translate(430px, -180px);
    background-color: rgb(150, 150, 150);
    box-shadow: 0px 0.5px 10px rgb(14, 17, 66);
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
}

#submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    object-fit: contain;
    float: right;
    justify-content: end;
    display: flex;
    height: 100%;
    width: 100px;
    margin: 0px 0px 0px 100px;
    box-shadow: 0px 0.5px 10px rgb(14, 17, 66);
}

.output {
    margin: 30px 0px 0px 50px;
    width: 550px;
}

.output h6 {
    display: inline-block;
}

.output .username {
    margin: 0px 0px 0px 0px;
    text-transform: capitalize;
}

.output .date {
    color: #193B59;
    font-size: 14px;
}

.date {
    /* width: 50%; */
    margin: 0px 0px 0px 10px;
}

.icon {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transform: translateX(300px);
}

.output p {
    font-size: 16px;
    word-break: break-word;
    white-space: pre-line;
    font-family: 'Rowdies', cursive;
}

.options {
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border-style: solid;
    border-color: #193B59;
    transform: translate(380px, -30px);
}