* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    min-width: 1000px;
    height: 100%;
    position: relative;
}

.buttons ul {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 5px 0px 0px 75%;
    position: absolute;
}

.buttons li {
    list-style: none;
}

.loginbutton {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    background-color: rgb(15, 170, 9);
    color: #fff;
    padding: 0px 0px 3px;
    background-color: rgb(15, 170, 9);
    text-decoration: none;
}

.loginbutton:hover {
    background-color: rgb(56, 85, 138);
}

.login:hover {
    background-color: purple;
}

.joinbutton {
    margin-left: 25px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    background-color: rgb(15, 170, 9);
    color: #fff;
    padding: 0px 0px 3px;
}

.joinbutton:hover {
    background-color: rgb(56, 85, 138);
}

.Join:hover {
    background-color: purple;
}

.opinsearchtab {
    text-align: center;
    background-color: rgb(14, 13, 13);
    padding: 8px;
    box-shadow: 0px 0.5px 10px;
    width: 100%;
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    z-index: 1050;
    position: relative;
}

#searchbox_container {
    background-color: white;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border: 1px solid rgb(204, 169, 14);
    display: flex;
    margin: 0 auto;
}

.opinsearchtab i {
    color: rgb(95, 1, 114);
    padding: 5px 0px 0px 15px;
}

.searchbox {
    border: none;
    justify-content: start;
    text-align: start;
    padding: 0px 0px 0px 30px;
    width: 100%;
}

#topics {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#topics img {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
}

.contain {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    margin: 8px;
    position: relative;
    background-image: linear-gradient(rgb(95, 1, 114), rgb(0, 0, 0));
}

.ontop {
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 150px;
    height: 150px;
    opacity: 40%;
}

.movies a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.series a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.comics a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.anime a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.manga a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}

.description {
    text-align: center;
    justify-content: center;
    position: absolute;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 100%;
    margin-top: 260px;
}

.description p {
    justify-content: center;
    text-align: center;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    font-size: 22px;
    color: rgb(51, 48, 48);
    font-weight: 350;
}

#movie-class {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    /* width: 100%; */
    flex: content;

}

#movies-class h1 {
    width: 100%;
    margin: 350px 0px 0px 120px;
    position: absolute;
}

.movie-groups img {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 280px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    margin: 0px 0px 100px 0px;
    
}

.movie-containers {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 450px 0px 0px 20px;
}

.movie-groups {
    position: relative;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin: 0px 0px 0px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.caption-img-overlay {
    width: 280px;
    height: 170px;
    background-image: linear-gradient(rgb(95, 1, 114), rgb(0, 0, 0));
    position: absolute;
    transform: translate(0px, 150px);
    margin-bottom: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.caption-img-overlay .name {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px 0px 0px 0px;
    position: relative;

}

.caption-img-overlay i {
    color: rgb(3, 158, 16);
    font-weight: 450;
    margin: 0px 10px 0px 0px;

}

.caption-img-overlay h2 {
    color: #000;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    font-size: 16px;
    color: #fff;
    font-weight: 450;

}

.caption-img-overlay span {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 0px;
}

.img-overlay {
    width: 280px;
    height: 200px;
    position: absolute;
    background: linear-gradient(rgb(95, 1, 114), rgb(0, 0, 0));
    margin-bottom: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 40%;
    transform: translate(0px, 0px);
}