.FormOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #4c434e;
    opacity: 95%;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    /* visibility: hidden; */
}

.loginbox {
    width: 500px;
    height: 500px;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;  
    transform: translateY(90px);
    transform: translateX(230px);
    margin: 0 auto;
    overflow: hidden;
    margin: 100px 0px 100px 0px;
    padding-top: 20px;
    /* visibility: hidden; */
    background: rgb(255, 255, 255);
    position: absolute;

}

.join_promo {
    width: 380px;
    height: 500px;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;  
    transform: translateY(90px);
    transform: translateX(730px);
    margin: 0 auto;
    overflow: hidden;
    margin: 100px 0px 100px 0px;
    padding-top: 20px;
    position: absolute;
    background-color: rgb(15, 170, 9) ;
      
}
.join_promo h1 {
    color: #fff;
    text-align: center;
    position: relative;
    font-weight: 300;
    font-size: 24px; 
    margin: 45px 0px 0px 0px;
} 

.join_promo p {
    text-align: start;
    position: relative;
    font-size: 18px ;
    font-weight: 400;
    color: #fff;
    margin: 40px 0px 0px 40px;
    justify-content: center;
    display: flex;
}
.closewindow i {
    color: #fff;
    font-size: 18px;
    display: flex;
    text-decoration: transparent;
    justify-content: flex-end;
    margin: -30px 45px 0px 0px;
    transform: translate(20px, 25px);


}
.closewindow i:hover {
    text-decoration: none;
    text-transform: none;
       
}
#create_textLinks {
    width: 100%;
    margin: 58px 0px 0px 0px;
    justify-content: center;
    display: flex;
}
.create_Register{
    color: #fff;
    margin-left: 5%;
    text-decoration: none;
    font-size: 18px;

}
.create_Register a{
    color: #fff;

}
.create_Register:hover {
    text-decoration: underline;
    color: #fff;
}
.loginbox h1 {
    color: rgb(43, 40, 40);
    margin: 15px 0 0 0;
    text-align: center;
    position: relative;
    object-fit: cover;
    font-weight: 300;
    font-size: 24px;
}

.warning {
    display: flex;
    font-size: 16px;
    flex: content;
    justify-content: center;
    margin: 5px 0px 0px 0px;

}
.warning h1 {
    margin: -5px 0px 0px 0px;
    color: red;
    font-size: 16px;
    justify-content: center;
    text-align: center;

}

.fieldInputs {
    margin-top: 30px;
}

.inputs input {
    width: 380px;
    margin: 0 auto;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    border: none;
    border-bottom: 1px solid rgb(175, 120, 2);
    padding: 5px;
    background: none;
    padding-left: 1%;
    display: flex;
    outline: 0px solid transparent;
}
.inputs input::placeholder { 
    color: transparent;
 
}
  
.inputs input:-ms-input-placeholder { 
    color: transparent;
}
  
.inputs input::-ms-input-placeholder { 
    color: transparent;
}

.inputs p {
    width: 100%;
    margin: 0 auto;
    justify-content: start;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    margin-left: 12%;
    color: rgb(175, 120, 2);
    display: flex;
    object-fit: cover;
    font-size: 16px;
}
.Error  { 
    margin: 0px 0px 0px 12%;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 0;
    position: relative;
    color: rgb(224, 19, 19);
    visibility: hidden;
}

.Error i {
    font-size: 14px;
}


.redError {
    width: 0;
    position: relative;
    left: 380px;
    color: red;
    bottom: 35px;
    visibility: hidden;    

}
.check {
    width: 0;
    position: relative;
    left: 380px;
    color: green;
    bottom: 60px;
    visibility: hidden;    

}
.eyeToggle {
    width: 0;
    position: relative;
    left: 455px;
    color: rgb(233, 95, 16);
    bottom: 60px;

}
.hideLoginPW {
    position: absolute;
}

.showLoginPW {
    position: absolute;

}

.submit {
    width: 400px;
    height: 35px;
    margin-top: 0px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 7px 0px 0px 0px;
    background-color: rgb(3, 180, 3) ;  
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

#textLinks{
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    width: 100%;

}

#textLinks li{
    display: flex;
    width: 100%;
}

.forgotpassword {
    color: rgb(56, 55, 55);
    text-decoration: none;
}

.Jointext {
    color: rgb(56, 55, 55);
    text-decoration: none;
    margin: 0px 0px 0px 60px;
}

.forgotpassword:hover {
    text-decoration: underline;
    color: rgb(73, 119, 219);
}

.Jointext:hover {
    text-decoration: underline;
    color: rgb(73, 119, 219);
}

.submit:hover {
    background-color: rgb(73, 119, 219);
}

.inputs {
    margin-top: 20px;
}