* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 900px;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(245, 138, 17);
    border-radius: 10px;
}

.container h1 {
    display: flex;
    justify-content: center;
}

.inputs {
    width: 100%;
    height: 60px;
    margin: 450px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.comments {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    font-size: 12px;
}

.title {
    font-size: 14px;
    margin-top: 30px;
}

#date {
    font-size: 12px;
}

.message {
    font-size: 14px;
}

#output {
    padding: 12px;
}

#submitbtn {
    transform: translate(0, -50px);
}