* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    min-width: 1000px;
    height: 100%;
    position: relative;
}


#comments {

    
}

.comment-wrapper {
    width: 100%;
    height: 100%;
    margin: 450px 0px 0px 0px;
}