* {
    margin: 0px;
    padding: 0px;
    background: red;
}

html {
    height: 100%;
    background: red;


}

body {
    min-width: 1000px;
    height: 100%;
    position: relative;
    background-color: rgb(75, 59, 75);

}