* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    min-width: 1000px;
    height: 100%;
    position: relative;
}


.input-group mb-3 {
    position: absolute;
    margin: 350px 0px 0px 0px;
    background: #000;
    color: red;
    bottom: 100px;
    
}

#button-addon1 {
    position: absolute;
    margin: 350px 0px 0px 0px;
    background: #000;
    color: red;
    bottom: 100px;
    

}