* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    height: 100%;
    position: relative;
}


#comment-input {
    width: 100%;
    height: 100%;
    margin: 100px 100px 100px 100px;
    background-color:#000;
}

#button-addon1 {
    width: 100%;
    float: right;
    margin: 30%;
    
}