* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    /* min-width: 1000px; */
    height: 100%;
    position: relative;
}

.comment-wrapper {
    width: 700px;
    height: 50px;
    background: rgb(88, 88, 90);
    border-radius: 10px;
    margin: 20px 0px 0px 200px;
    border: none;
    box-shadow: 0px 2.5px 5px 2.5px;


}

.sent-btn {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    position: relative;
    margin: 0px 0px 0px 0px;
}

.comment-btn {
    width: 40px;
}

.comment-input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0px 0px 0px 30px;
    border: solid rgb(228, 222, 228);
    border-width: 0.5px;
    outline: solid transparent;
    background: rgb(83, 84, 87)0;
    color: rgb(221, 214, 214);
    

}

#allcomments-container {
    width: 700px;
    height: 540px;
    margin: 20px 0px 0px 200px;
    background: rgb(83, 84, 87);
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 2.5px 5px 2.5px;
    border: solid rgb(228, 222, 228);
    border-width: 0.5px;
}

.comment-input::placeholder {
    color: rgb(221, 214, 214)
}

.user-comments {
    color: rgb(221, 214, 214);
    margin: 410px 0px 0px 30px;

}

.user-comments h5 {
    font-size: 14px;
}

.user-comments h6 {
    margin: 0px 0px 0px 20px;
    text-align: center;
    font-size: 12px;
}
.user-comments ul{
    display: flex;
}