* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    min-width: 1000px;
    height: 100%;
    position: relative;
}


#comment-input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 350px 0px 0px 0px;
    background: #000;
    
}