    * {
        margin: 0px;
        padding: 0px;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    .container {
        width: 900px;
        height: 700px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: rgb(245, 138, 17);
        border-radius: 10px;
    }
    
    .container h1 {
        display: flex;
        justify-content: center;
    }
    
    .inputs {
        width: 100%;
        height: 60px;
        margin: 550px 0px 0px 0px;
        position: absolute;
    }
    
    .comments {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 600px;
        height: 100%;
        border-radius: 10px;
        padding: 10px 0px 0px 10px;
        font-size: 8px;
    }
    
    .title {
        font-size: 14px;
    }
    
    #date {
        font-size: 12px;
    }
    
    #comments {
        font-size: 14px;
    }