* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(231, 223, 231);
    /* min-width: 1000px; */
    height: 100%;
    position: relative;
}


.comment-wrapper {
    width: 650px;
    height: 60px;
    background: #000;
    
}

.sent-btn {
    display: flex;
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: content;
    position: relative;
    margin: 0px 0px 0px 0px;
}
.comment-btn {
    width: 40px;
}
    
.comment-input {
    width: 50%;
}
